<app-navbar></app-navbar>
<main>
    <h1>Registrar Entidade</h1>
    <div class="form-container">
    <form (ngSubmit)="submitForm()">
        <label for="name">Nome da Entidade:</label>
        <input type="text" id="name" name="name" [(ngModel)]="entity.name" required>

        <label for="description">Descrição:</label>
        <textarea id="description" name="description" [(ngModel)]="entity.description" required></textarea>

        <label for="address">Endereço:</label>
        <input type="text" id="address" name="address" [(ngModel)]="entity.address" required>

        <label for="city">Cidade:</label>
        <input type="text" id="city" name="city" [(ngModel)]="entity.city" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="entity.email" required>

        <label for="phone">Telefone:</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="entity.phone" required>

        <label for="postCode">Código Postal:</label>
        <input type="text" id="postCode" name="postCode" [(ngModel)]="entity.postCode" required>

        <button type="submit">Registrar</button>
    </form>

    </div>
</main>