<app-navbar></app-navbar>
<app-bar></app-bar>

<main>
    <h1>Doação</h1>

    <form action="">
        <div class="section">
        <h2>Roupa</h2>
        <div class="inputRow">
            <div class="inputBox">
                <label for="Camisolas">Camisolas:</label>
                <input type="number" name="Camisolas" value="{{donation.camisolas}}" readonly>
            </div>
            <div class="inputBox">
                <label for="Pares de Sapatos">Par de Sapatos:</label>
                <input type="number" name="Pares de Sapatos" value="{{donation.sapatos}}" readonly>
            </div>
        </div>
        <div class="inputRow">
            <div class="inputBox">
                <label for="Casacos">Casacos:</label>
                <input type="number" name="Casacos" value="{{donation.casacos}}" readonly>
            </div>
            <div class="inputBox">
                <label for="Acessorios">Acessórios:</label>
                <input type="number" name="Acessorios" value="{{donation.acessorios}}" readonly>
            </div>
        </div>
        <div class="inputRow">
            <div class="inputBox">
                <label for="Calcas">Calças:</label>
                <input type="number" name="Calcas" value="{{donation.calcas}}" readonly>
            </div>
            <div class="inputBox">
                <label for="Roupa Interior">Roupa Interior:</label>
                <input type="number" name="Roupa Interior" value="{{donation.interior}}" readonly>
            </div>
        </div>
        <h2>Dinheiro</h2>
        <div class="inputRow">
            <div class="inputBox dinheiro">
                <label for="Dinheiro">Valor:</label>
                <input type="number" name="Dinheiro" value="{{donation.dinheiro}}" readonly>
            </div>
            <div class="inputBox instituicao">
                <label for="Entidade">Instituição:</label>
                <input type="text" name="Entidade" value="{{donation.entityName}}" readonly>
            </div>
            <div class="inputBox doador">
                <label for="Doador">Doador:</label>
                <input type="text" name="Doador" value="{{donation.donatorName}}" readonly>
            </div>
      </div>
        <div class="buttons">
            <button *ngIf="!requested && !donation.approved && type=='Donator'" id="criarPedido" (click)="createRequest($event)">Criar pedido</button>
            <button *ngIf="!donation.approved && type!='Donator'" id="aprovarDoacao" (click)="aprovarDoacao(donation._id)">Aprovar doação</button>
        </div>
