<app-navbar></app-navbar>
<main>
    <header><h1>Instituições</h1>
        <button onclick="toggleDropdown()" id="filtro">Filtros </button>
        <div id="dropdownContent" class="dropdown-content" style="display: none;">
          <a href="/employees/create">Funcionário</a>
          <a href="/donators/create">Doador</a>
          <a href="/entities/create">Instituição</a>
          <a href="/partners/create">Parceiro</a>
        </div>
      <script>
        function toggleDropdown() {
          var dropdownContent = document.getElementById("dropdownContent");
          if (dropdownContent.style.display === "none") {
            dropdownContent.style.display = "block";
          } else {
            dropdownContent.style.display = "none";
          }
        }
      </script>
    </header>
    
    
    <div class="entidades">
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome </h3><button>Detalhes</button></header>
                <p>Email:</p>
                <p>Cidade:</p>
                <p>Telemóvel</p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome </h3><button>Detalhes</button></header>
                <p>Email:</p>
                <p>Cidade:</p>
                <p>Telemóvel</p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome </h3><button>Detalhes</button></header>
                <p>Email:</p>
                <p>Cidade:</p>
                <p>Telemóvel</p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome </h3><button>Detalhes</button></header>
                <p>Email:</p>
                <p>Cidade:</p>
                <p>Telemóvel</p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome </h3><button>Detalhes</button></header>
                <p>Email:</p>
                <p>Cidade:</p>
                <p>Telemóvel</p>
            </div>
        </div>
    </div>
    
</main>

