<app-navbar></app-navbar>
<app-bar></app-bar>
<main>
    <div class="content">
        <form >
            <div id="formContent">
                <div id="leftside">
                    <h2> Parceiro</h2>

                    <div id="preview-container">
                        <div *ngIf="partner.imageUrl">
                            <img id="preview-image" [src]="partner.imageUrl" alt="Pré-visualização da Imagem" />
                        </div>
                    </div>
                   
                    <div class="inputContainer">
                        <label for="description">Descrição:</label>
                        <p >{{partner.description}}</p>
                    </div>

                </div>
                <div id="rightside">
                    <div class="nome">
                        <div class="inputContainer">
                            <label for="name">Nome:</label>
                            <input type="text" id="name" name="name" value="{{partner.name}}" readonly>
                        </div>
                    </div>
                    <div class="grupo">
                        <div class="inputContainer">
                            <label for="phone">Telemóvel:</label>
                            <input type="tel" id="phone" name="phone" value="{{partner.phone}}" readonly>
                        </div>
                        <div class="inputContainer">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" value="{{partner.email}}" readonly>
                        </div>
                        <div class="inputContainer">
                            <label for="address">Morada:</label>
                            <input type="text" id="address" name="address" value="{{partner.address}}" readonly>

                        </div>
                    </div>
                    <div class="detalhesMorada">
                        <div class="inputContainer">
                            <label for="postCode">Código Postal:</label>
                            <input type="text" id="postCode" name="postCode" value="{{partner.postCode}}" readonly>
                        </div>
                        <div class="inputContainer">
                            <label for="city">Cidade:</label>
                            <input type="text" id="city" name="city" value="{{partner.city}}" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</main>