<body>
    <nav>
        <div id="imagemlogo">
            <img src="assets/images/logo.png" alt="Logo" width="130" height="130"/>
        </div>
        <div id="blococentral">
            <h2>Iniciar sessão</h2>
            <form action="/auth/loginSubmitted" method="POST">
                <div class="grupo">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="grupo">
                    <label for="password">Password:</label>
                    <div class="password-input">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <i class="mudar" onclick="togglePasswordVisibility()">&#x1F441;</i>
                    </div>
                </div>
                <div class="grupo">
                    <input type="checkbox" id="rememberMe" name="rememberMe">
                    <label for="rememberMe">Lembrar-me</label>
                </div>
                <button type="submit" id="botao">Entrar</button>
            </form>
            <div class="recuperarpass">
                <a href="recuperar-password.html">Recuperar senha?</a>
            </div>
        </div>
    </nav>
</body>
</html>

<script>
function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
</script>