<app-navbar></app-navbar>
<app-bar></app-bar>
<main>
  <header>
    <h1>Parceiros</h1>
    <div class="search-fields">
      <input type="text" id="searchName" placeholder="Nome" [(ngModel)]="searchName" (input)="onSearchChange()" />
      <input type="text" id="searchCity" placeholder="Cidade" [(ngModel)]="searchCity"
        (input)="onSearchChange()" />
      <input type="text" id="searchPhone" placeholder="Telemóvel" [(ngModel)]="searchPhone"
        (input)="onSearchChange()" />
    </div>
  </header>

  <div class="parceiros">
    <div class="card" *ngFor="let partner of filteredPartners">
      <div class="content">
        <div class="info">
          <header>
            <h3>Nome: {{partner.name}}</h3>
          </header>
          <p>Email: {{partner.email}}</p>
          <p>Cidade: {{partner.city}}</p>
          <p>Telemóvel: {{partner.phone}}</p>
          <div class="detalhes" style="display: flex; gap: 5%;">
            <button [routerLink]="['/parceiros/show', partner._id]">Detalhes</button>
            <button *ngIf="type=='Donator'" [routerLink]="['/campanhas/',partner._id]">Ver campanhas</button>
          </div>
        </div>
        <div id="preview-container">
          <div *ngIf="partner.imageUrl">
            <img id="preview-image" [src]="partner.imageUrl" alt="Pré-visualização da Imagem" />
          </div>
        </div>
      </div>
    </div>
  </div>

</main>