<!DOCTYPE html>
<html>

<head>
  <title>Create Donation</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h3><a href="/donations">Donation List</a></h3>
    <h1>Create New Donation</h1>
    <form action="/donations/save" method="post">
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td><%=donator.name=%></td>
          </tr>
          <tr>
            <td><input type="radio" name="type" id="money" value="Money">
              <label for="read">Money</label>
            </td>
            <td>
              <input type="radio" name="type" id="clothes" value="Clothes">
              <label for="notRead">Clothes</label>
            </td>
          </tr>
          <tr>
            <td>Ammount</td>
            <td><input type="number" name="ammount" /></td>
          </tr>
          <tr>
            <td><input type="radio" name="collected" id="true" value="true">
              <label for="read">Collected</label>
            </td>
            <td>
              <input type="radio" name="collected" id="false" value="false">
              <label for="notRead">Not collected</label>
            </td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">Save</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</body>

</html>