<!DOCTYPE html>
<html>
  <head>
    <title>Donation List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/donations/create">Create Donation</a></h3>
      <h1>Donation List</h1>
      <% if(donations.length>0) { %>
      <table class="list-table">
        <thead>
          <tr>
            <th>Donation Name</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<donations.length;i++) { %>
            <tr>
              <td><a href="/donations/show/<%= donations[i]._id%>"><%= donations[i].name%></a></td>
              <td><%= donations[i].position%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No donations found.</div>
      <% } %>
    </div>
  </body>
</html>
