<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação</title>
    <link rel='stylesheet' href='/stylesheets/doar.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <div id="imagensNav">
          <img src="../images/Image 207.png" alt="Logo" width="50" height="50">
          <img src="../images/Image 207 (1).png" alt="Logo" height="50">
        </div>
        <div id="opcoesNav">
          <a href=""><img src="../images/icone-de-cloche-et-d-alerte-gris.png" alt="Notifications" width="20"
              height="20"></a>
          <div class="user">
            <img src="../images/cara.png" alt="profile" width="30" height="30" id="profile">
            <p>Nome nome</p>
          </div>
          <a href="" id=""><img src="../images/arrow_down_icon_242220.png" alt="More options" width="20" height="20"></a>
        </div>
      </header>
      <main>
        <div class="sidebar">
          <ul>
            <li><a href="">Menu Inicial</a></li>
            <li id="current"><a href="">Doações</a></li>
            <li><a href="">Utilizadores</a></li>
            <li><a href="">Pedidos</a></li>
            <li><a href="">Pontos</a></li>
          </ul>
        </div>

        <div class="content">
            <div class="contentHeader">
              <h1>Doação</h1> <br><br>
                <h2>Roupa</h2> <br/>

                <form id="Form">
                    <label for="Camisola">Camisolas:</label>
                    <input type="number" id="Camisola" name="Camisola" min="0"><br><br>
            
                    <label for="Casaco">Casacos:</label>
                    <input type="number" id="Casaco" name="Casaco" min="0"><br><br>

                    <label for="Calcas">Calças:</label>
                    <input type="number" id="Calcas" name="Calcas" min="0"><br><br>

                    <label for="Sapatos">Par de Sapatos:</label>
                    <input type="number" id="Sapatos" name="Sapatos" min="0"><br><br>

                    <label for="Acessorios">Acessorios:</label>
                    <input type="number" id="Acessorios" name="Acessorios" min="0"><br><br>

                    <label for="RoupaInterior">Roupa Interior:</label>
                    <input type="number" id="RoupaInterior" name="RoupaInterior" min="0"><br><br>
                </form>
                <br><br>

                <h2>Dinheiro</h2> <br/>
                <form id="Form">
                    <label for="Dinheiro">€:</label>
                    <input type="number" id="Dinheiro" name="Dinheiro" min="0"><br><br>
                </form>

                <button type="button" onclick="simulardoacao()">Simular Doação</button>
                <button type="button" onclick="doar()">Doar</button>
</body>
</html>