<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doação</title>
    <link rel='stylesheet' href='/stylesheets/doar.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('general/header') -%>
  <main>
    <%- include('general/sidebar') -%>

        <div class="content">
            <div class="contentHeader">
              <h1>Doação</h1> <br><br>
                <h2>Roupa</h2> <br/>

                <form id="Form">
                    <label for="Camisola">Camisolas:</label>
                    <input type="number" id="Camisola" name="Camisola" min="0"><br><br>
            
                    <label for="Casaco">Casacos:</label>
                    <input type="number" id="Casaco" name="Casaco" min="0"><br><br>

                    <label for="Calcas">Calças:</label>
                    <input type="number" id="Calcas" name="Calcas" min="0"><br><br>

                    <label for="Sapatos">Par de Sapatos:</label>
                    <input type="number" id="Sapatos" name="Sapatos" min="0"><br><br>

                    <label for="Acessorios">Acessorios:</label>
                    <input type="number" id="Acessorios" name="Acessorios" min="0"><br><br>

                    <label for="RoupaInterior">Roupa Interior:</label>
                    <input type="number" id="RoupaInterior" name="RoupaInterior" min="0"><br><br>
                </form>
                <br><br>

                <h2>Dinheiro</h2> <br/>
                <form id="Form">
                    <label for="Dinheiro">€:</label>
                    <input type="number" id="Dinheiro" name="Dinheiro" min="0"><br><br>
                </form>

                <button type="button" onclick="simulardoacao()">Simular Doação</button>
                <button type="button" onclick="doar()">Doar</button>
</body>
</html>