<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste de CSS</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <div id="imagensNav">
      <img src="images/Image 207.png" alt="Logo" width="50" height="50">
      <img src="images/Image 207 (1).png" alt="Logo" height="50">
    </div>
    <div id="opcoesNav">
      <a href=""><img src="images/icone-de-cloche-et-d-alerte-gris.png" alt="Notifications" width="40" height="40"></a>
      <img src="images/cara.png" alt="profile" width="40" height="40" id="profile">
      <p>Nome nome</p>
      <a href="" id=""><img src="images/arrow_down_icon_242220.png" alt="More options" width="40" height="40"></a>
    </div>
  </nav>
</body>

</html>