<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste de CSS</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div id="imagensNav">
      <img src="../images/Image 207.png" alt="Logo" width="50" height="50">
      <img src="../images/Image 207 (1).png" alt="Logo" height="50">
    </div>
    <div id="opcoesNav">
      <a href=""><img src="../images/icone-de-cloche-et-d-alerte-gris.png" alt="Notifications" width="20"
          height="20"></a>
      <div class="user">
        <img src="../images/cara.png" alt="profile" width="30" height="30" id="profile">
        <p>Nome nome</p>
      </div>
      <a href="" id=""><img src="../images/arrow_down_icon_242220.png" alt="More options" width="20" height="20"></a>
    </div>
  </header>
  <main>
    <div class="sidebar">
      <ul>
        <li onclick="redirectToLink()"><a href="">Menu Inicial</a></li>
        <li onclick="redirectToLink()"><a href="">Doações</a></li>
        <li id="current" onclick="redirectToLink()"><a href="">Utilizadores</a></li>
        <li onclick="redirectToLink()"><a href="">Pedidos</a></li>
        <li onclick="redirectToLink()"><a href="">Pontos</a></li>
        <script>
          function redirectToLink() {
              var link = document.querySelector('li>a');
              if (link) {
                  window.location.href = link.getAttribute('href');
              }
          }
      </script>
      </ul>
    </div>

    <div class="content">
      <div class="contentHeader">
        <h1>Utilizadores</h1>
        <div class="botoes">
          <button>Exportar</button>
          <button>Novo Utilizador</button>
        </div>
        <nav>
          <a href="">Todos</a>
          <a href="">Doadores</a>
          <a href="">Instituições</a>
          <a href="">Funcionários</a>
          <a href="">Parceiros</a>
        </nav>
      </div>
      <div class="midbar">
        <p><strong>200</strong> no total</p>
        <input type="text" placeholder="&#128269;  Pesquisa">
      </div>
      <table>
        <thead>
          <th>Nome</th>
          <th>Cidade</th>
          <th>Morada</th>
          <th>Código Postal</th>
        </thead>
        <tbody>
          <% employees.forEach(employee=> {%>
            <tr>
              <td>
                <%=employee.name%>
              </td>
              <td>
                <%=employee.name%>
              </td>
              <td>
                <%=employee.name%>
              </td>
              <td>
                <%=employee.name%>
              </td>
            </tr>
            <% });%>
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>