<app-navbar></app-navbar>
<main>
    <header><h1>Doadores</h1>
        <button onclick="toggleDropdown()" id="filtro">Filtros </button>
        <div id="dropdownContent" class="dropdown-content" style="display: none;">     <!-- Ver este Drop para que serve? -->
          <a href="/employees/create">Funcionário</a>
          <a href="/donators/create">Doador</a>
          <a href="/entities/create">Instituição</a>
          <a href="/partners/create">Parceiro</a>
        </div>
      <script>
        function toggleDropdown() {
          var dropdownContent = document.getElementById("dropdownContent");
          if (dropdownContent.style.display === "none") {
            dropdownContent.style.display = "block";
          } else {
            dropdownContent.style.display = "none";
          }
        }
      </script>
    </header>

  <div class="doadores">
    <div class="card" *ngFor="let donator of donators">
        <div class="content">
            <div class="info">
                <header><h3>Nome: {{donator.name}}</h3></header>
                <p>Email: {{donator.email}}</p>
                <p>Cidade: {{donator.city}}</p>
                <p>Telemóvel: {{donator.phone}}</p>
                <div class="detalhes">
                    <button  [routerLink]="['/doadores/show', donator._id]">Detalhes</button>
                </div>
            </div>
            <div class="imagem"></div>
        </div>
    </div>
</div> 

</main>

