<app-navbar></app-navbar>
<main>
    <header><h1>Loja</h1> <h2>Pontos:</h2></header>
    
    <div class="loja">
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome Campanha</h3><button>Comprar</button></header>
                <p>Descrição:</p>
                <p></p>
                <p>Valor:</p>
                <p></p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome Campanha</h3><button>Comprar</button></header>
                <p>Descrição:</p>
                <p></p>
                <p>Valor:</p>
                <p></p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome Campanha</h3><button>Comprar</button></header>
                <p>Descrição:</p>
                <p></p>
                <p>Valor:</p>
                <p></p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome Campanha</h3><button>Comprar</button></header>
                <p>Descrição:</p>
                <p></p>
                <p>Valor:</p>
                <p></p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome Campanha</h3><button>Comprar</button></header>
                <p>Descrição:</p>
                <p></p>
                <p>Valor:</p>
                <p></p>
            </div>
        </div>
    </div>
</main>