<main>
    <header>
        <h1>Instituições</h1>
        <button id="filtro">Filtros </button>
    </header>

    <div class="entidades">
        <div class="card" *ngFor="let entity of entities">
            <div class="content">
                <div class="info">
                    <header>
                        <h3>Nome: {{entity.name}}</h3>
                    </header>
                    <p>Email: {{entity.email}}</p>
                    <p>Cidade: {{entity.city}}</p>
                    <p>Telemóvel: {{entity.phone}}</p>
                    <div class="detalhes">
                        <button>Selecionar</button>
                    </div>
                </div>
                <div class="imagem"></div>
            </div>
        </div>
    </div>

</main>