/* Estilos para o formulário de campanha */

/* Container principal */
.content {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  /* Título */
  h1 {
    margin-bottom: 20px;
  }
  
  /* Estilos para os inputs e labels */
  .inputContainer {
    margin-bottom: 20px;
  }
  
  .inputContainer label {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputContainer input[type="text"],
  .inputContainer input[type="number"],
  .inputContainer textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .inputContainer textarea {
    height: 100px; /* Ajuste conforme necessário */
  }
  
  /* Botão */
  .buttonContainer {
    margin-top: 20px;
  }
  
  .buttonContainer button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo do upload-box *//*
  #upload-box {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #upload-input {
    display: none;
  }*/
  
   /*Imagem-------------------------------------------------------*/
/*
  #upload-box > input {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
  }
  
  #upload-box {
    height: 50%;
  }*/
  #upload-container {
    margin-bottom: 20px;
}
#upload-box{
  margin-bottom: 2%;
}
#upload-input {
    display: none;
}

#upload-label {
    padding: 10px 10px;
    background-color: #888888;
    color: white;
    cursor: pointer;
}

#preview-container {
    background-color: #f3f4f6e8;
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20%; /* Define o raio das bordas para 50%, transformando a div em um círculo */
    overflow: hidden; /* Garante que a imagem, quando exibida, seja recortada para o formato do círculo */
}

#preview-image {
  width: 100%; /* Certifica-se de que a imagem preencha todo o círculo */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Garante que a imagem não tenha espaços em branco em torno dela */
}



  /*--------------------------------------------------------------------*/

  /* Estilo do preview-container *//*
  #preview-container {
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  #preview-container img {
    width: 100%;
    height: auto;
  }*/