/* Estilos para o contentHeader */
.contentHeader {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    /* Usar flexbox para organizar os elementos verticalmente */
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo para o título principal (h1) */
  .contentHeader h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px; /* Espaçamento inferior menor */
    align-self: flex-start; /* Alinhar no canto superior esquerdo */
  }
  
  /* Estilo para o título secundário (h2) */
  .contentHeader h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 10px;
  }
  
  /* Estilo para os campos de entrada (input) */
  .contentHeader input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Estilo para o botão de submit */
  .contentHeader button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0698d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilo para o botão de submit quando hover */
  .contentHeader button:hover {
    background-color: #0578ad;
  }