main{
    display: flex;
    flex-direction: column;
    margin: 0% 2%;
    
}
h1{
    margin: 2% 0% 0% 0%;
}
.inputBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputBox>button{
    width: 15%;  
    margin-top: 0.5%;
}

label{
    margin: 0.5% 0% 0.3% 0%;
}

input{
    width: 20%;
    border-radius: 10px;
    padding: 0.5%;
    border: solid gray 1px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons{
    margin-top: 0.7%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons>button{
    width: 11%;
    margin:0% 0.3%;
    padding: 0.5% 3%;
    border-radius: 6px;
    border: none;
}

#selecionarEntidade{
    border-radius: 6px;
    border: none;
    padding: 0.5%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}



#simular{
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#selecionarEntidade:hover,#simular:hover{
    background-color: #3e9f65;
}

#doar{
    background-color: #0698d4;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#doar:hover{
    background-color: #0578ad;
}

button{
    font-weight: bold;
}



/* Estilos para o popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .popup-content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .entidades {
    max-height: 60vh;
    overflow-y: auto;
  }
  
  .card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .card .content .info {
    margin-bottom: 10px;
  }
  
  .card .content .info header h3 {
    margin: 0;
  }
  
  
  .imagem {
    height: 150px;
    width: 150px;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px;
    margin-bottom: 1em;
  }

  .detalhes>button {
    width: 100%;
    padding: 7%;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .detalhes>button:hover {
    background-color: #3e9f65;
  }

  .card>.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #fechar{
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(241, 42, 42);
    color: white;
    border: none;
    cursor: pointer;
  }

  #fechar:hover {
    background-color: rgb(208, 33, 33);
  }