<app-navbar></app-navbar>

<main>
  <h1>Doação</h1>
  <form (ngSubmit)="submitForm()" #myForm="ngForm">
      <h2>Roupa</h2>
      <div class="inputRow">
          <div class="inputBox">
              <label for="Camisolas">Camisolas:</label>
              <input type="number" name="Camisolas" placeholder="Número de peças" [(ngModel)]="donation.camisolas" id="">
          </div>
          <div class="inputBox">
              <label for="Pares de Sapatos">Par de Sapatos:</label>
              <input type="number" name="Pares de Sapatos" placeholder="Número de pares" [(ngModel)]="donation.sapatos" id="">
          </div>
      </div>
      <div class="inputRow">
          <div class="inputBox">
              <label for="Casacos">Casacos:</label>
              <input type="number" name="Casacos" placeholder="Número de peças" [(ngModel)]="donation.casacos" id="">
          </div>
          <div class="inputBox">
              <label for="Acessorios">Acessórios:</label>
              <input type="number" name="Acessorios" placeholder="Número de acessórios" [(ngModel)]="donation.acessorios" id="">
          </div>
      </div>
      <div class="inputRow">
          <div class="inputBox">
              <label for="Calcas">Calças:</label>
              <input type="number" name="Calcas" placeholder="Número de peças" [(ngModel)]="donation.calcas" id="">
          </div>
          <div class="inputBox">
              <label for="Roupa Interior">Roupa Interior:</label>
              <input type="number" name="Roupa Interior" placeholder="Número de peças" [(ngModel)]="donation.interior" id="">
          </div>
      </div>
      <h2>Dinheiro</h2>
      <div class="inputRow">
        <div class="inputBox dinheiro">
            <label for="Dinheiro">Valor:</label>
            <input type="number" name="Dinheiro" placeholder="Valor" [(ngModel)]="donation.dinheiro" id="">
        </div>
        <div class="inputBox" id="Entidade">
          <label for="Entidade">Instituição:</label>
          <input type="text" name="Entidade" id="" placeholder="Instituição" [value]="instituicaoSelecionada" [(ngModel)]="donation.entityName" readonly>
          <button type="button" id="selecionarEntidade" (click)="abrirPopup()">Selecionar Instituição</button>
      </div>
    </div>
      <div class="buttons">
          <button type="button" id="simular">Simular</button>
          <button type="submit" id="doar">Doar</button>
      </div>
  </form>







  

  <div class="popup" *ngIf="popupVisible">
    <div class="popup-content">
      <header>
        <h1>Instituições</h1>
        <button (click)="fecharPopup()" id="fechar">Fechar</button>
      </header>
      <div class="entidades">
        <div class="card" *ngFor="let entity of entities">
          <div class="content">
            <div class="info">
              <header>
                <h3>Nome: {{entity.name}}</h3>
              </header>
              <p>Email: {{entity.email}}</p>
              <p>Cidade: {{entity.city}}</p>
              <p>Telemóvel: {{entity.phone}}</p>
              
            </div>
            <div class="detalhes">
                <div class="imagem"></div>
                <button (click)="selecionarInstituicao(entity.name,entity._id)">Selecionar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>


