<app-navbar></app-navbar>

<main>
    <h1>Doar</h1>
    <form action="">
        <div class="inputBox">
            <label for="Camisolas">Camisolas:</label>
            <input type="number" name="Camisolas" placeholder="Número de peças" id="">
        </div>
        <div class="inputBox">
            <label for="Casacos">Casacos:</label>
            <input type="number" name="Casacos" placeholder="Número de peças" id="">
        </div>
        <div class="inputBox">
            <label for="Calcas">Calças:</label>
            <input type="number" name="Calcas" placeholder="Número de peças" id="">
        </div>
        <div class="inputBox">
            <label for="Pares de Sapatos">Pares de Sapatos:</label>
            <input type="number" name="Pares de Sapatos" placeholder="Número de pares" id="">
        </div>
        <div class="inputBox">
            <label for="Acessorios">Acessórios:</label>
            <input type="number" name="Acessorios" placeholder="Número de acessórios" id="">
        </div>
        <div class="inputBox">
            <label for="Roupa Interior">Roupa Interior:</label>
            <input type="number" name="Roupa Interior" placeholder="Número de peças" id="">
        </div>
        <div class="inputBox">
            <label for="Dinheiro">Dinheiro:</label>
            <input type="number" name="Dinheiro" placeholder="Valor" id="">
        </div>
        <div class="inputBox" id="Entidade">
            <label for="Entidade">Entidade:</label>
            <input type="text" name="Entidade" id="" placeholder="Entidade" readonly>
            <button type="button" id="selecionarEntidade">Selecionar Entidade</button>
        </div>
        <div class="buttons"> 
            <button type="button" id="simular">Simular</button>
            <button type="submit" id="doar">Doar</button>
        </div>
    </form>
</main>