<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de utilizadores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/management.css' />
</head>

<body>
    <div class="sidebar">
        <ul>
            <li><a href="">Menu Inicial</a></li>
            <li><a href="">Doações</a></li>
            <li><a href="">Utilizadores</a></li>
            <li id="current"><a href="">Pedidos</a></li>
            <li><a href="">Pontos</a></li>
        </ul>
    </div>
</body>