<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de utilizadores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/management.css' />
</head>

<body>
    <div class="sidebar">
        <ul>
            <li <% if (activeItem === 'pagina1') { %>id="current"<% }%> > <a href="/dashboard">Menu Inicial</a></li>
            <li <% if (activeItem === 'pagina2') { %>id="current"<% }%> ><a href="/users/gerirDoacoes">Doações</a></li>
            <li <% if (activeItem === 'pagina3') { %>id="current"<% }%>><a href="/users/gerirFuncionarios">Utilizadores</a></li>
            <li <% if (activeItem === 'pagina4') { %>id="current"<% }%>><a href="/users/gerirPedidos">Pedidos</a></li>
            <li <% if (activeItem === 'pagina5') { %>id="current"<% }%>><a href="/points">Pontos</a></li>
            <li <% if (activeItem === 'pagina6') { %>id="current"<% }%>><a href="/gerirCampanhas">Campanhas</a></li>
        </ul>
    </div>
</body>