<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Password</title>
    <link rel='stylesheet' href='/stylesheets/login/pass.css' />
</head>
<body>
    <nav>
        <div id="imagemlogo">
            <img src="../images/logo.png" alt="Logo" width="120" height="120"/>
        </div>
        <div id="blococentral">
            <h2>Recuperar Password</h2>
            <form action="/recuperar" method="get" id="recuperarpass">    
                <div class="grupo">
                    <label for="Email">Email:</label>
                    <input type="Email" id="Email" name="Email" placeholder="Email" required>
                </div>
                <button type="submit" id="botao">Enviar</button>
            </form>            
        </div>
    </nav>  
</body>
</html>