<app-navbar></app-navbar>

<main>
    <h1>Doacoes</h1>
    <div class="doacoes">
        <div class="card" *ngFor="let donation of donations">
            <div class="imagem"></div>
            <div class="content">
                <header>
                    <h3 *ngIf="isDoador">Entidade:{{ donation.entityName }} </h3>
                    <h3 *ngIf="!isDoador">Doador:{{ donation.donatorName }} </h3><button>Detalhes</button>
                </header>
                <p *ngIf="donation.approved">Aprovado: Sim </p>
                <p *ngIf="!donation.approved">Aprovado: Não </p>
                <p>Pontos: {{ donation.points }}</p>
                <p *ngIf="isDoador">Data: {{ donation.donatorName }}</p>
                <p *ngIf="!isDoador">Data: {{ donation.entityName }} </p>
            </div>
        </div>
        
    </div>
</main>