<app-navbar></app-navbar>
<main>
    <h1>Registrar Entidade</h1>
    <div  class="form-container">
        <form (ngSubmit)="submitForm()"  #myForm="ngForm" >
            <label for="name">Nome da Entidade:</label>
            <input type="text" id="name" name="name" [(ngModel)]="entity.name" placeholder="Nome da Entidade"
                #name="ngModel" required minlength="4">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                <div *ngIf="name.hasError('required')">
                    Name is required.
                </div>
                <div *ngIf="name.hasError('minlength')">
                    Name must be at least 4 characters long.
                </div>
                <div *ngIf="name.hasError('forbiddenName')">
                    Name cannot be Bob.
                </div>
            </div>

            <label for="description">Descrição:</label>
            <textarea id="description" name="description" [(ngModel)]="entity.description" placeholder="Descrição"
                required></textarea>

            <label for="address">Endereço:</label>
            <input type="text" id="address" name="address" [(ngModel)]="entity.address" placeholder="Endereço" required>

            <label for="city">Cidade:</label>
            <input type="text" id="city" name="city" [(ngModel)]="entity.city" placeholder="Cidade" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="entity.email" placeholder="Email" required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">

            <label for="phone">Telefone:</label>
            <input type="tel" id="phone" name="phone" [(ngModel)]="entity.phone" placeholder="Telefone" required>

            <label for="postCode">Código Postal:</label>
            <input type="text" id="postCode" name="postCode" [(ngModel)]="entity.postCode" placeholder="Código Postal"
                required>

            <label for="password">Password:</label>
            <input type="text" id="password" name="password" [(ngModel)]="entity.password" placeholder="Senha" required>

            <label for="confpassword">Comfirmar Password:</label>
            <input type="text" id="confpassword" name="confpassword" [(ngModel)]="confpassword"
                placeholder="Confirmar Senha" required>

            <button type="submit" [disabled]="myForm.invalid">Registrar</button>
        </form>

    </div>
</main>