<h1>Registar Instituição</h1>
<main>
    <div class="content">
        <form (ngSubmit)="submitForm()" #myForm="ngForm">
            <div id="formContent">
                <div id="leftside">
                    

                    <div id="preview-container">
                        <div *ngIf="imagePreview">
                            <img id="preview-image" [src]="imagePreview" alt="Pré-visualização da Imagem" />
                        </div>
                    </div>
                    <div id="upload-box">
                        <input type="file" id="upload-input" name="file" accept="image/*" (change)="onFileSelected($event)" />
                        <label for="upload-input" id="upload-label">Escolher imagem</label>
                    </div>

                    <div id="pass">
                        <div class="inputContainer">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" [(ngModel)]="entity.password"
                                placeholder="Senha" required>
                        </div>
                        <div class="inputContainer">
                            <label for="confpassword">Confirmar Password:</label>
                            <input type="password" id="confpassword" name="confpassword" [(ngModel)]="confpassword"
                                placeholder="Confirmar Senha" required>
                        </div>
                    </div>
                    <div class="inputContainer">
                        <label for="description">Descrição:</label>
                        <textarea id="description" name="description" [(ngModel)]="entity.description"
                            placeholder="Descrição" #description="ngModel" required minlength="10" maxlength="500"></textarea>
                            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert">
                                <div *ngIf="description.hasError('required')">
                                    Campo obrigatório
                                </div>
                                <div *ngIf="description.hasError('minlength')">
                                    Descrição muito curta (mínimo 10 caracteres)
                                </div>
                                <div *ngIf="description.hasError('maxlength')">
                                    Descrição muito longa (maximo 500 caracteres)
                                </div>
                            </div>
                    </div>

                </div>
                <div id="rightside">
                    <div class="nome">

                        <div class="inputContainer">
                            <label for="name">Nome da Instituição:</label>
                            <input type="text" id="name" name="name" [(ngModel)]="entity.name"
                                placeholder="Nome da Entidade" #name="ngModel" required minlength="3" maxlength="100">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                                <div *ngIf="name.hasError('required')">
                                    Campo obrigatório
                                </div>
                                <div *ngIf="name.hasError('minlength')">
                                    Nome muito curto (mínimo 3 caracteres)
                                </div>
                                <div *ngIf="name.hasError('maxlength')">
                                    Nome muito longa (maximo 100 caracteres)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="grupo">

                        <div class="inputContainer">
                            <label for="phone">Telemóvel:</label>
                            <input type="tel" id="phone" name="phone" [(ngModel)]="entity.phone" placeholder="Telefone" required minlength="9" maxlength="9" #phone="ngModel">
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert">
                                <div *ngIf="phone.errors?.['required']">
                                    Campo obrigatório
                                </div>
                                <div *ngIf="phone.errors?.['minlength'] || phone.errors?.['maxlength']">
                                    O número de telefone deve ter exatamente 9 caracteres
                                </div>
                            </div>
                        </div>
                        
                        <div class="inputContainer">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" [(ngModel)]="entity.email" placeholder="Email" #email="ngModel"
                                required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">

                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                                    <div *ngIf="email.hasError('required')">
                                        Campo obrigatório
                                    </div>
                                    <div *ngIf="email.hasError('pattern')">
                                        Formato de email inválido
                                    </div>
                                </div>
                        </div>
                        
                        <div class="inputContainer">
                            <label for="address">Morada:</label>
                            <input type="text" id="address" name="address" [(ngModel)]="entity.address" #address="ngModel"
                                placeholder="Morada" required minlength="3" maxlength="100">
                                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert">
                                    <div *ngIf="address.hasError('required')">
                                        Campo obrigatório
                                    </div>
                                    <div *ngIf="address.hasError('minlength')">
                                        Morada curto (mínimo 3 caracteres)
                                    </div>
                                    <div *ngIf="address.hasError('maxlength')">
                                        Morada longa (maximo 100 caracteres)
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="detalhesMorada">
                        <div class="inputContainer">
                            <label for="postCode">Código Postal:</label>
                            <input type="text" id="postCode" name="postCode" [(ngModel)]="entity.postCode"
                                placeholder="Código Postal" #postCode="ngModel" required pattern="^\d{4}-\d{3}$">
                                <div *ngIf="postCode.invalid && (postCode.dirty || postCode.touched)" class="alert">
                                    <div *ngIf="postCode.hasError('required')">
                                        Campo obrigatório
                                    </div>
                                    <div *ngIf="postCode.hasError('pattern')">
                                        Formato inválido. Use o formato 1234-567
                                    </div>
                                </div>
                        </div>
                        <div class="inputContainer">
                            <label for="city">Cidade:</label>
                            <input type="text" id="city" name="city" [(ngModel)]="entity.city" placeholder="Cidade" #city="ngModel"
                                required minlength="3" maxlength="25">
                                <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert">
                                    <div *ngIf="city.hasError('required')">
                                        Campo obrigatório
                                    </div>
                                    <div *ngIf="city.hasError('minlength')">
                                        Muito curto (mínimo 3 caracteres)
                                    </div>
                                    <div *ngIf="city.hasError('maxlength')">
                                        Muito longa (maximo 25 caracteres)
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="myForm.invalid">Registar</button>
        </form>

    </div>
</main>