
    /* Estilos para o botão de upload de imagem 
    
    
    NAO ESTA A DAR A SUPOSTA CAIXA
    
    
    */
    #upload-box {
        width: 200px;
        height: 200px;
        border: 2px dashed #ff0000;
        border-radius: 10px;
        display: flex;
        justify-content: center;        
        align-items: center;
        cursor: pointer;
        font-family: Arial, sans-serif;
        color: #500000;
    }

    #upload-box:hover {
        border-color: #00fff7;
    }

    #upload-box p {
        text-align: center;
    }

    #upload-box input[type="file"] {
        display: none;
    }