<app-navbar></app-navbar>
<app-bar></app-bar>
<main *ngIf="type=='Donator'">
    <div id="plot">

    </div>

    <div class="stats">
        <div class="inputContainer">
            <label for="pontos">Numero total de Pontos:</label>
            <input type="pontos" id="pontos" name="pontos" value="{{donator.points}}" readonly>
        </div>

        <div class="inputContainer">
            <label for="doacoes">Numero total de Doacoes:</label>
            <input type="doacoes" id="doacoes" name="doacoes" value="{{numDonations}}" readonly>
        </div>
    </div>
</main>

<main *ngIf="type=='Entity'">
    <div id="plot">

    </div>

    <div class="stats">
        <div class="inputContainer">
            <label for="pontos">Numero total de Doacoes:</label>
            <input type="pontos" id="pontos" name="pontos" value="{{donator.points}}" readonly>
        </div>

        <div class="inputContainer">
            <label for="doacoes">Numero total de Doacoes Pendentes:</label>
            <input type="doacoes" id="doacoes" name="doacoes" value="{{donations.length}}" readonly>
        </div>
    </div>
</main>

<main *ngIf="type=='Partner'">
    <div id="plot">

    </div>

    <div class="stats">
        <div class="inputContainer">
            <label for="pontos">Numero total de Campanhas:</label>
            <input type="pontos" id="pontos" name="pontos" value="{{campaigns.length}}" readonly>
        </div>

        <div class="inputContainer">
            <label for="doacoes">Numero total de Compras:</label>
            <input type="doacoes" id="doacoes" name="doacoes" value="{{purchases.length}}" readonly>
        </div>
    </div>
</main>