<!DOCTYPE html>
<html>
  <head>
    <title>Edit Entity</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/entities">Entity List</a></h3>
      <h1>Edit Entity</h1>
      <form action="/entities/update/<%= entity._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" value="<%= entity.name %>" /></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><textarea name="address"><%= entity.address %></textarea></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><input type="text" name="description" value="<%= entity.position %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
