<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registar Instituição</title>
    <link rel='stylesheet' href='/stylesheets/utilizadores/registarinstituicao.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../general/header') -%>
        <main>
            <%- include('../general/sidebar', { activeItem: 'pagina3' }) -%>
                <div class="content">
                    <h2>Informação Instituição</h2>
                    <form class="informacaogeral" action="/entities/save" method="post" enctype="multipart/form-data">
                        <div id="formContent">
                            <div id="leftside">
                                <div id="upload-box">
                                    <input type="file" id="upload-input" accept="image/*"
                                        onchange="previewImage(event)" />
                                    <p>Clique para fazer upload ou arraste e solte uma imagem aqui</p>
                                </div>
                                <div class="inputContainer">
                                    <label for="description">Descrição:</label>
                                    <textarea id="description" name="description" rows="4" placeholder="Descrição"
                                        required></textarea>
                                </div>
                            </div>
                            <div id="rightside">
                                <div class="inputContainer">
                                    <label for="name">Nome Instituição:</label>
                                    <input type="text" id="name" name="name" placeholder="Nome" required>
                                </div>
                                <div class="inputContainer">
                                    <label for="phone">Telemóvel:</label>
                                    <input type="tel" id="phone" name="phone" placeholder="Telemóvel" required>
                                </div>
                                <div class="inputContainer">
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" placeholder="Email" required>
                                </div>
                                <div class="inputContainer">
                                    <label for="address">Morada:</label>
                                    <input type="text" id="address" name="address" placeholder="Morada" required>
                                </div>
                                <div class="inputContainer">
                                    <label for="postCode">Código-Postal:</label>
                                    <input type="text" id="postCode" name="postCode" placeholder="Código-Postal"
                                        required>
                                </div>
                                <div class="inputContainer">
                                    <label for="city">Cidade:</label>
                                    <input type="text" id="city" name="city" placeholder="Cidade" required>
                                </div>
                                
                            </div>
                        </div>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
        </main>
</body>

</html>