<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registar Doador</title>
    <link rel='stylesheet' href='/stylesheets/utilizadores/registarutilizado.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../general/header') -%>
  <main>
    <%- include('../general/sidebar', { activeItem: 'pagina3' }) -%>
        <div class="content">
            <div class="informacaogeral">
              <h2>Informação Geral</h2> <br><br>
                <div class="grupo">
                    <label for="primeironome">Primeiro Nome:</label>
                    <input type="text" id="primeironome" name="primeironome" required>
                </div>
                <div class="grupo">
                    <label for="ultimonome">Último Nome:</label>
                    <input type="text" id="ultimonome" name="ultimonome" required>
                </div>
                <div class="grupo">
                    <label for="telemovel">Telemóvel:</label>
                    <input type="tel" id="telemovel" name="telemovel" required>
                </div>
                <div class="grupo">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="grupo">
                    <label for="morada">Morada:</label>
                    <input type="text" id="morada" name="morada" required>
                </div>
                <div class="grupo">
                    <label for="codigopostal">Código Postal:</label>
                    <input type="text" id="codigopostal" name="codigopostal" required>
                </div>
                <div class="grupo">
                    <label for="cidade">Cidade:</label>
                    <input type="text" id="cidade" name="cidade" required>
                </div>
                <div class="grupo">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="grupo">
                    <label for="confirmarpassword">Confirmar Password:</label>
                    <input type="password" id="confirmarpassword" name="confirmarpassword" required>
                </div>

                <br /><br />
                <br /><br />
                <br /><br />
                <div id="upload-box">
                    <input type="file" id="upload-input" accept="image/*" onchange="previewImage(event)" />
                    <p>Clique para fazer upload<br />ou arraste e solte uma imagem aqui</p>
                </div>
                <div id="preview-container"></div>
            </div>
            <br /><br />
           <button type="button" onclick="guardar()">Guardar</button> 
        </div>
    </main>


    <script>
        function previewImage(event) {
    const input = event.target;
    const reader = new FileReader();

    reader.onload = function() {
        const imgElement = document.createElement('img');
        imgElement.src = reader.result;
        imgElement.style.maxWidth = '100%';
        imgElement.style.maxHeight = '100%';

        const previewContainer = document.querySelector('#preview-container');
        previewContainer.innerHTML = ''; // Limpa qualquer prévia existente
        previewContainer.appendChild(imgElement);
    };

    reader.readAsDataURL(input.files[0]);
}
    </script>
</body>
</html>