<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registar Funcionário</title>
    <link rel='stylesheet' href='/stylesheets/utilizadores/registarfuncionario.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../general/header') -%>
        <main>
            <%- include('../general/sidebar', { activeItem: 'pagina3' }) -%>
                <div class="content">
                    <h2>Registar Funcionário</h2>
                    <form class="informacaogeral" action="/employees/save" method="post">
                        <div id="formContent">
                            <div id="leftside">
                                <div id="upload-box">
                                    <input type="file" id="upload-input" accept="image/*"
                                        onchange="previewImage(event)" />
                                    <p>Clique para fazer upload ou arraste e solte uma imagem aqui</p>
                                </div>
                                <div id="preview-container"></div>
                                <div id="pass">
                                    <div class="inputContainer">
                                        <label for="password">Password:</label>
                                        <input type="password" id="password" name="password" placeholder="Password" required>
                                    </div>
                                    <div class="inputContainer">
                                        <label for="confirmarpassword">Confirmar Password:</label>
                                        <input type="password" id="confirmarpassword" name="confirmarpassword" placeholder="Password" required>
                                    </div>
                                </div>
                            </div>
                            <div id="rightside">
                                <div class="nome">
                                    <div class="inputContainer">
                                        <label for="name">Nome:</label>
                                        <input type="text" id="name" name="name" placeholder="Nome" required>
                                    </div>    
                                </div>
                                <div class="grupo">
                                    <div class="inputContainer">
                                        <label for="phone">Telemóvel:</label>
                                        <input type="tel" id="phone" name="phone" placeholder="Telemóvel" required>
                                    </div>
                                    <div class="inputContainer">
                                        <label for="email">Email:</label>
                                        <input type="email" id="email" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="inputContainer">
                                        <label for="address">Morada:</label>
                                        <input type="text" id="address" name="address" placeholder="Morada" required>
                                    </div>
                                </div>
                                <div class="detalhesMorada">
                                    <div class="inputContainer">
                                        <label for="postCode">Código-Postal:</label>
                                        <input type="text" id="postCode" name="postCode" placeholder="Codigo-Postal" required>
                                    </div>
                                    <div class="inputContainer">
                                        <label for="city">Cidade:</label>
                                        <input type="text" id="city" name="city" placeholder="Cidade" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
        </main>
</body>

</html>