<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registar Funcionário</title>
    <link rel='stylesheet' href='/stylesheets/utilizadores/registarfuncionario.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
    <%- include('../general/header',{username:username, userId:userId}) -%>
        <main>
            <%- include('../general/sidebar', { activeItem: 'pagina3' }) -%>
                <div class="content">
                    <h2>Registar Funcionário</h2>
                    <form class="informacaogeral" action="/employees/save" method="post" enctype="multipart/form-data" onsubmit="return validarSenha()">
                        <div id="formContent">
                            <div id="leftside">
                                <div id="preview-container"></div>
                                <div id="upload-box">
                                    <input type="file" id="upload-input" name="file" accept="image/*" onchange="previewImage(event)" />
                                    <label for="upload-input" id="upload-label">Escolher imagem</label>
                                </div>
                                <div id="pass">
                                    <div class="inputContainer">
                                        <label for="password">Password:</label>
                                        <input type="password" id="password" name="password" placeholder="Password" required>
                                    </div>
                                    <div class="inputContainer">
                                        <label for="confirmarpassword">Confirmar Password:</label>
                                        <input type="password" id="confirmarpassword" name="confirmarpassword" placeholder="Password" required>
                                    </div>
                                </div>
                            </div>
                            <div id="rightside">
                                <div class="nome">
                                    <div class="inputContainer">
                                        <label for="name">Nome:</label>
                                        <input type="text" id="name" name="name" placeholder="Nome" required>
                                    </div>    
                                </div>
                                <div class="grupo">
                                    <div class="inputContainer">
                                        <label for="phone">Telemóvel:</label>
                                        <input type="tel" id="phone" name="phone" placeholder="Telemóvel" required="[0-9]{9}">
                                    </div>
                                    <div class="inputContainer">
                                        <label for="email">Email:</label>
                                        <input type="email" id="email" name="email" placeholder="Email" required>
                                    </div>
                                    <div class="inputContainer">
                                        <label for="address">Morada:</label>
                                        <input type="text" id="address" name="address" placeholder="Morada" required>
                                    </div>
                                </div>
                                <div class="detalhesMorada">
                                    <div class="inputContainer">
                                        <label for="postCode">Código-Postal:</label>
                                        <input type="text" id="postCode" name="postCode" placeholder="Codigo-Postal" required="[0-9]{4}-[0-9]{3}">
                                    </div>
                                    <div class="inputContainer">
                                        <label for="city">Cidade:</label>
                                        <input type="text" id="city" name="city" placeholder="Cidade" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
        </main>

        <script>
             // Adiciona um evento de escuta para o input da cidade
    document.getElementById('city').addEventListener('input', function() {
        // Converte o valor da cidade para minúsculas
        this.value = this.value.toLowerCase();
    });

            function previewImage(event) {
            const input = event.target;
            const reader = new FileReader();
        
            reader.onload = function() {
                const imgElement = document.createElement('img');
                imgElement.src = reader.result;
                imgElement.style.maxWidth = '100%';
                imgElement.style.maxHeight = '100%';
        
                const previewContainer = document.querySelector('#preview-container');
                previewContainer.innerHTML = ''; // Limpa qualquer prévia existente
                previewContainer.appendChild(imgElement);
            };
        
            reader.readAsDataURL(input.files[0]);
        }

        function validarSenha() {
        var senha = document.getElementById("password").value;
        var confirmarSenha = document.getElementById("confirmarpassword").value;

        if (senha != confirmarSenha) {
            alert("As senhas não coincidem. Por favor, digite novamente.");
            return false; // Impede o envio do formulário se as senhas não coincidirem
        }
        return true; // Permite o envio do formulário se as senhas coincidirem
    }
        </script>
</body>

</html>