<div *ngIf="type == 'Donator'">
    <li>
        <a href="#" (click)="dashBoard()" onclick="return false;">DashBoard</a>
    </li>
    <li>
        <a href="#" (click)="doar()" onclick="return false;">Doar</a>
    </li>
    <li>
        <a href="#" (click)="doacoes()" onclick="return false;">Doações</a>
    </li>
    <li>
        <a href="#" (click)="pedidos()" onclick="return false;">Pedidos de Recolha</a>
    </li>
    <li>
        <a href="#" (click)="instituicoes()" onclick="return false;">Instituições</a>
    </li>
    <li>
        <a href="#" (click)="parceiros()" onclick="return false;">Parceiros</a>
    </li>
    <li>
        <a href="#" (click)="campanhas()" onclick="return false;">Loja</a>
    </li>
</div>

<div *ngIf="type == 'Partner'">
    <li>
        <a href="#" (click)="dashBoard()" onclick="return false;">DashBoard</a>
    </li>
    <li>
        <a href="#" (click)="campanhas()" onclick="return false;">Campanhas</a>
    </li>
    <li>
        <a href="#" (click)="compras()" onclick="return false;">Compras (Histórico) no parceiro</a>
    </li>
</div>

<div *ngIf="type == 'Entity'">
    <li>
        <a href="#" (click)="dashBoard()" onclick="return false;">DashBoard</a>
    </li>
    <li>
        <a href="#" (click)="doacoes()" onclick="return false;">Doacoes</a>
    </li>
    <li>
        <a href="#" (click)="doadores()" onclick="return false;">Doadores</a>
    </li>
    <li>
        <a href="#" (click)="pedidos()" onclick="return false;">Pedidos de Recolha</a>
    </li>
</div>