<app-navbar></app-navbar>
<main>
    <h1>Entidade</h1>
    <div class="form-container">
        <form>
            <label for="name">Nome da Instituição:</label>
            <input type="text" id="name" name="name" value="{{entity.name}}" readonly>

            <label for="description">Descrição:</label>
            <p>{{entity.description}}</p>

            <label for="address">Morada:</label>
            <input type="text" id="address" name="address" value="{{entity.address}}" readonly>

            <label for="city">Cidade:</label>
            <input type="text" id="city" name="city" value="{{entity.city}}" readonly>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{entity.email}}" readonly>

            <label for="phone">Telefone:</label>
            <input type="tel" id="phone" name="phone" value="{{entity.phone}}" readonly>

            <label for="postCode">Código Postal:</label>
            <input type="text" id="postCode" name="postCode" value="{{entity.postCode}}" readonly>

            <div *ngIf="imagePreview">
                <p>Pré-visualização da Imagem:</p>
                <img [src]="imagePreview" alt="Pré-visualização da Imagem" style="max-width: 200px; max-height: 200px;" />
            </div>

        </form>
    </div>
</main>