<app-navbar></app-navbar>

<main>
    <h1>Doacoes</h1>
    <div class="doacoes">
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Entidade/doador </h3><button>Detalhes</button></header>
                <p>Aprovado:</p>
                <p>Pontos: </p>
                <p>Entidade:</p>
                <p>Data:</p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Entidade </h3><button>Detalhes</button></header>
                <p>Aprovado:</p>
                <p>Pontos:</p>
                <p>Entidade:</p>
                <p>Data:</p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Entidade </h3><button>Detalhes</button></header>
                <p>Aprovado:</p>
                <p>Pontos:</p>
                <p>Entidade:</p>
                <p>Data:</p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Entidade </h3><button>Detalhes</button></header>
                <p>Aprovado:</p>
                <p>Pontos:</p>
                <p>Entidade:</p>
                <p>Data:</p>
            </div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Doador </h3><button>Detalhes</button></header>
                <p>Aprovado:</p>
                <p>Pontos:</p>
                <p>Entidade:</p>
                <p>Data:</p>
            </div>
        </div>
    </div>
</main>