<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <%- include('general/header',{username:username, userId:userId}) -%>
        <main>
            <%- include('general/sidebar', { activeItem: 'pagina1' }) -%>

                <div id="chart" style="width: 90%; height: 500px;"></div>


                <script>
                    
                    var donations =  JSON.stringify("<%=donations%>") ;
        
                    async function createChart() {
                        const daysOfWeek = ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'];
                        const data = daysCount1;

                        const trace = {
                            x: daysOfWeek,
                            y: data,
                            type: 'bar'
                        };

                        const layout = {
                            title: 'Doações por Dia da Semana',
                            xaxis: { title: 'Dia da Semana' },
                            yaxis: { title: 'Número de Doações' }
                        };

                        Plotly.newPlot('chart', [trace], layout);
                    }

                    window.onload = createChart;
                </script>



                <div class="content">
                    <h1>Dashboard</h1>
                    <div class="frame">
                        <iframe
                            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                            width="43%" height="43%"
                            src="https://charts.mongodb.com/charts-paw-alzbecq/embed/charts?id=662e24cb-ba8a-4cc8-82be-46c8ce226588&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
                        <iframe
                            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                            width="43%" height="43%"
                            src="https://charts.mongodb.com/charts-paw-alzbecq/embed/charts?id=662e2b55-a821-4231-8f41-a10232a0a346&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
                        <iframe
                            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                            width="43%" height="43%"
                            src="https://charts.mongodb.com/charts-paw-alzbecq/embed/charts?id=662e335d-ffaf-4372-8866-dff47558bc78&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
                        <iframe
                            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
                            width="43%" height="43%"
                            src="https://charts.mongodb.com/charts-paw-alzbecq/embed/charts?id=662e3a89-a821-48a5-8e3a-a10232e2d966&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
                    </div>

                </div>

        </main>
</body>

</html>