<app-navbar></app-navbar>
<app-bar></app-bar>
<main>
  <header>
    <h1>Instituições</h1>
    <div class="search-fields">
      <input type="text" id="searchName" placeholder="Nome" [(ngModel)]="searchName" (input)="onSearchChange()" />
      <input type="text" id="searchCity" placeholder="Cidade" [(ngModel)]="searchCity" (input)="onSearchChange()" />
      <input type="text" id="searchPhone" placeholder="Telemóvel" [(ngModel)]="searchPhone" (input)="onSearchChange()" />
    </div>
  </header>

  <div class="entidades">
    <div class="card" *ngFor="let entity of filteredEntities">
      <div class="content">
        <div class="info">
          <header>
            <h3>Nome: {{entity.name}}</h3>
          </header>
          <p>Email: {{entity.email}}</p>
          <p>Cidade: {{entity.city}}</p>
          <p>Telemóvel: {{entity.phone}}</p>
          <div class="detalhes" style="display: flex; gap: 5%;">
            <button [routerLink]="['/entidades/show', entity._id]">Detalhes</button>
            <button *ngIf="type=='Donator'" [routerLink]="['/doar/',entity._id,entity.name]">Doar</button>
          </div>
        </div>
        <div id="preview-container">
          <div *ngIf="entity.imageUrl">
            <img id="preview-image" [src]="entity.imageUrl" alt="Pré-visualização da Imagem" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
