<app-navbar></app-navbar>
<main>
    <header><h1>Instituições</h1>
        <button onclick="toggleDropdown()" id="filtro">Filtros </button>
        <div id="dropdownContent" class="dropdown-content" style="display: none;">     <!-- Ver este Drop para que serve? -->
          <a href="/employees/create">Funcionário</a>
          <a href="/donators/create">Doador</a>
          <a href="/entities/create">Instituição</a>
          <a href="/partners/create">Parceiro</a>
        </div>
      <script>
        function toggleDropdown() {
          var dropdownContent = document.getElementById("dropdownContent");
          if (dropdownContent.style.display === "none") {
            dropdownContent.style.display = "block";
          } else {
            dropdownContent.style.display = "none";
          }
        }
      </script>
    </header>
    
    <!--
    <div class="entidades" >
        <div class="card" *ngFor="let entity of entities">
            <div class="imagem"></div>
            <div class="content">
                <header><h3>Nome: {{entity.name}} </h3><button>Detalhes</button></header>
                <p>Email: {{entity.email}}</p>
                <p>Cidade: {{entity.city}}</p>
                <p>Telemóvel: {{entity.phone}}</p>
            </div>
        </div>
    </div>
  -->

  <div class="entidades">
    <div class="card" *ngFor="let entity of entities">
        <div class="content">
            <div class="info">
                <header><h3>Nome: {{entity.name}}</h3></header>
                <p>Email: {{entity.email}}</p>
                <p>Cidade: {{entity.city}}</p>
                <p>Telemóvel: {{entity.phone}}</p>
                <div class="detalhes">
                    <button [routerLink]="['/entidades/show', entity._id]">Detalhes</button>
                </div>
            </div>
            <div class="imagem"></div>
        </div>
    </div>
</div> 

</main>

