<app-navbar></app-navbar>
<main>
    <h1>Editar Instituição</h1>
    <div class="form-container">
        <form (ngSubmit)="submitEditForm()" #editForm="ngForm">
            <label for="name">Nome da Instituição:</label>
            <input type="text" id="name" name="name" [(ngModel)]="entity.name" #name="ngModel" [value]="entity.name" required minlength="4">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                <div *ngIf="name.hasError('required')">
                    Name is required.
                </div>
                <div *ngIf="name.hasError('minlength')">
                    Name must be at least 4 characters long.
                </div>
                <div *ngIf="name.hasError('forbiddenName')">
                    Name cannot be Bob.
                </div>
            </div>

            <label for="description">Descrição:</label>
            <textarea id="description" name="description" [(ngModel)]="entity.description" required>{{entity.description}}</textarea>

            <label for="address">Morada:</label>
            <input type="text" id="address" name="address" [(ngModel)]="entity.address" [value]="entity.address" required>

            <label for="city">Cidade:</label>
            <input type="text" id="city" name="city" [(ngModel)]="entity.city" [value]="entity.city" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="entity.email" [value]="entity.email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">

            <label for="phone">Telefone:</label>
            <input type="tel" id="phone" name="phone" [(ngModel)]="entity.phone" [value]="entity.phone" required>

            <label for="postCode">Código Postal:</label>
            <input type="text" id="postCode" name="postCode" [(ngModel)]="entity.postCode" [value]="entity.postCode" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="entity.password" placeholder="Senha" required>

            <label for="confpassword">Confirmar Password:</label>
            <input type="password" id="confpassword" name="confpassword" [(ngModel)]="confpassword" placeholder="Confirmar Senha" required>

            <button type="submit" [disabled]="editForm.invalid">Salvar Alterações</button>
        </form>
    </div>
</main>
